<!--This view will display the ItemListViewModel. Usually it would be named ItemList but it is named index it will be the default view under Item -->

@model DepCalc.Models.ItemListViewModel

@{
    ViewBag.Title = "Inventory Items";
}

<h2>Inventory Items</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>All Inventory Items</th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.Items.Count; i++)
        {
            <tr>
                <td>@Model.Items[i].ItemProdInfo</td>
                <td>
                    @Html.ActionLink("Detail", "ItemDetail", new { id = Model.Items[i].InvItemId })
                    | @Html.ActionLink("Edit", "ItemEdit", new { id = Model.Items[i].InvItemId })
                    | <a data-toggle="modal" href="@("#deleteItemModal" + i)">Delete</a>
                    <div class="modal fade" id="@("deleteItemModal" + i)" tabindex="-1" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                @using (Html.BeginForm("DeleteItem", "Item"))
                                {
                <input type="hidden" value="@Model.Items[i].InvItemId" name="InvItemId" />
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete @Model.Items[i].ItemProdInfo</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete @Model.Items[i].ItemProdInfo?
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            }
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
               
<div class="col-sm-12 form-group">
    <label>Total Items:</label> @Model.TotalItems;
</div>
<div class="col-sm-12">
    @Html.ActionLink("Add Item", "ItemAdd", null, new { @class = "btn btn-primary" })
</div>

