@model DepCalc.Models.ItemViewModel
@{
    ViewBag.Title = "Item Detail";
}
<h2>@Model.ItemProdInfo</h2>
<div class="row">
    <div class="col-sm-12 form-group">
        @Html.LabelFor(m => m.ItemName)
        <br />@Html.DisplayFor(m => m.ItemName)
    </div>
    <div class="col-sm-12 form-group">
        @Html.LabelFor(m => m.QtyServUnit)
        <br />@Html.DisplayFor(m => m.QtyServUnit)
    </div>
    <div class="col-sm-12 form-group">
        @Html.LabelFor(m => m.CountUnit)
        <br />@Html.DisplayFor(m => m.CountUnit)
    </div>
    <div class="col-sm-12 form-group">
        @Html.LabelFor(m => m.SellUnit)
        <br />@Html.DisplayFor(m => m.SellUnit)
    </div>
    <div class="col-sm-12 form-group">
        @Html.LabelFor(m => m.CountFrequency)
        <br />@Html.DisplayFor(m => m.CountFrequency)
    </div>
    <div class="col-sm-12 form-group">
        @Html.LabelFor(m => m.StandCost)
        <br />@Html.DisplayFor(m => m.StandCost)
    </div>
    <div class="col-sm-12 form-group">
        @Html.LabelFor(m => m.GenLedger)
        <br />@Html.DisplayFor(m => m.GenLedger)
    </div>
    <div class="col-sm-12">
        @Html.ActionLink("Done", "Index", null, new { @class = "btn btn-primary" })
    </div>
</div>



